# Ambiente virtual
.venv/
venv/

# Cache do Python
__pycache__/
*.pyc

# Configurações locais
.env
*.sqlite3

# Arquivos temporários
*.log
*.tmp

# Configurações do VSCode
.vscode/

# Arquivos gerais
.zip